# Grafana Datasources Configuration
apiVersion: 1

datasources:
  # Prometheus datasource
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: prometheus
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: "2.45.0"

  # Jaeger datasource for tracing
  - name: Jaeger
    type: jaeger
    access: proxy
    uid: jaeger
    url: http://jaeger:16686
    editable: false
    jsonData:
      tracesToLogs:
        datasourceUid: loki
        tags: ['service']
        mappedTags: [{ key: 'service.name', value: 'service' }]
        mapTagNamesEnabled: true
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        filterByTraceID: true
        filterBySpanID: true

  # Loki datasource for logs (if using Loki instead of ELK)
  - name: Loki
    type: loki
    access: proxy
    uid: loki
    url: http://loki:3100
    editable: false
    jsonData:
      derivedFields:
        - datasourceUid: jaeger
          matcherRegex: '"traceId":"([a-f0-9]+)"'
          name: TraceID
          url: '$${__value.raw}'

  # Elasticsearch datasource for logs (if using ELK)
  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    uid: elasticsearch
    url: http://elasticsearch:9200
    database: "fileops-logs-*"
    editable: false
    jsonData:
      esVersion: "8.0.0"
      timeField: "@timestamp"
      logLevelField: level
      logMessageField: message
